.Titre
{
  text-align: center;
  background-color: #B10DC9
}
.BackgroundPage{
  background-image: url('Images/Banjo1.jpg');
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.Menubar{
  text-align:center;
  background-repeat: repeat-y;
  color: whitesmoke;
}
.Menubar ul
{
  /* display: inline-flex; */
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* background-color: #B10DC9; */
  opacity: .8;
  position: absolute;
}
 ul  > li{
   width: 280px;
   height: 40px;
  float: left;
  line-height: 40px;
  font-size: 20px;
  
}
.Menubar > ul > li
{
  text-decoration:none;
  display: block;
}
ul  li:hover{
  background-color: RGB(181, 101, 167)
}
ul > li > ul > li{
  display: none;
}
ul > li:hover > ul > li{
  display: block;
}
footer{
display: none;
}
#basdepage{
  position:fixed;
    bottom:0;
    display: none;
}
 /* footer:hover > #basdepage{
  display: block;
  color: white;
} */
/* #footer-wrapper:hover #basdepage {
  display: block;
} */
a:link{ 
  text-decoration: none;
  color: inherit ;
 }


a:visited{
   text-decoration: none;
   color: inherit ;
 }


a:hover{
   text-decoration: none;
   color: inherit ;
 }


a:active{
   text-decoration: none;
   color: inherit ;
 }
 /* ||||||||||||||||| */
                          /* Page 2 */
/* .BackgroundPage2{
  background-image: url('Images/bktreasure.jpg');
  /* text-decoration: double; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* translate:x y 3s; */
  /* background-size: cover 
}*/
.HiddenTitre{
  display: none;
}
.ChangerImagedeFond2{
  background-image: url('Images/bktreasure.jpg');
  background-size: cover;
}
.BoîtedePrésentation {
  border: 10px solid #FFD700;
  position: absolute;
    width: 53%;
    /* height: 300px; */
    padding: 70px;
    position: absolute;
    top: 80%;
    left: 50%;
    height: 78%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  background-image: url('Images/jiggie4.png');
  background-size: auto;
  text-align:inherit;
  font-size: 20px;
  /* color; */
  /* background-repeat: repeat-x; */
  /* background-color: #FFD700; */
}
img{
  float: right;
  margin-top: -3%;
}
/* ||||||||||||||||| */
                          /* Page 3 */
.ChangerImagedeFond3{
  background-image: url('Images/Page3\ Level.png');
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
}
.ChangerImagedeFond3 .BoîtedePrésentation {
  background-image: url('Images/banjo-kazooie-nintendo-switch.large.jpg');
border-color: rgb(218,165,32);
text-align: center;
color: #DC143C;
height: 90%;
}
ol > li{
  /* border-style: ridge; */
  list-style: none;
  color: rgb(138,43,226);
}
/* .BoîtedePrésentation > */
/* ||||||||||||||||| */
                          /* Page 4 */
.ChangerImagedeFond4{
  background-image: url('Images/BanjoCartridgeBackground.jpg');
  background-size:cover;
}
.columns{
  margin: 5rem auto;
  width: min(90%,75rem);
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
  padding: 14%;
  /* grid-template-columns: 50% 25% 25%; */
  /* border: 10px solid #FFD700; */
  /* opacity: .5; */
}
@media (min-width:5em){
  .columns{
  grid-auto-flow: column; ;
}
}
.ChangerImagedeFond4 article {
  background-color: black;
  color:  #34568B;
  /* opacity: 3; */
  text-decoration-style:solid;
  border: 5px solid RGB(146, 168, 209);

}